.App {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.phrase {
  font-size: 1.5rem;
  margin: 20px;
}

.previous-guesses {
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
  margin: 10px;
  width: 2rem;
}

.wrong-guesses {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.win-message {
  font-size: 1.5rem;
  color: green;
  margin: 20px;
}

.lose-message {
  font-size: 1.5rem;
  color: red;
  margin: 20px;
}

button {
  font-size: 1.2rem;
}
